[advice]
  pushNonFastForward = false
	statusHints = false
[alias]
  br = branch
  ch = checkout
  co = commit
  dump = cat-file -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  st = status
  type = cat-file -t
[branch]
	autosetupmerge = true
[color]
	ui = auto
[core]
  autocrlf = input
  editor = atom --wait
  excludesFile = ~/.gitignore_global
  quotepath = false
  safecrlf = true
  whitespace = trailing-space,space-before-tab
[diff]
	renames = copies
	mnemonicprefix = true
[gitflow "hotfix.finish"]
  message = Hotfix %tag%
[gitflow "release.finish"]
  message = Release %tag%
[merge]
	stat = true
[push]
  default = current
[rerere]
	enabled = true
